/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 21, 2024, 2:33:37 PM
    Author     : Admin
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
main{
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    gap: 10px;
}

/* ASIDE  */
.content aside{
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 30px;
}
.content aside .top_aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.149);
}
.content .top_aside .avatar_aside{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.content .top_aside .infor_aside{
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content .top_aside .infor_aside a{
    color: #3e3e3e4b;
    font-size: 12px;
}
.content .top_aside .infor_aside a i{
    margin-right: 5px;
}
.content .top_aside .infor_aside a:hover{
    color: #3e3e3e79;
}

/* OPTION ASIDE  */
.content aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;  
}
.content aside ul li{
    width: 100%;
    height: 40px;
}
.content aside ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #3e3e3e;
    font-size: 14px;
    font-family: 500;
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition: 0.2s ease;
}
.content aside ul li a:hover{
    background: #3e3e3e2b;
    padding-left: 40px;
}
/* RIGHT CONTENT */
.order{
    width: 85%;
}
.order .top_order{
    background-color: #fff;
    width: 100%;
    color: #3e3e3e;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3e3e3e2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.215);
}
.order .top_order .thongtin{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.order .top_order h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #ff7337;
    padding: 20px 30px;
    border-bottom: 1px solid #3e3e3e1f;
}
.order .top_order .user_infor_o_detail,
.order_infor_o_detail{
    padding: 20px 30px;
    color: #3e3e3e;
    line-height: 2;
    width: 40%;
    font-weight: 700;
}
.order .top_order .user_infor_o_detail span,
.order_infor_o_detail span{
    font-weight: 500;
}

/* DANH SACH DON HANG TRONG HOA DON  */
.bot_order{
    margin-top: 10px;
    width: 100%;
}
.bot_order .danhsachdonhang{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bot_order .danhsachdonhang .donhang{
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 15px;
    line-height: 2;
    color: #3e3e3e;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3e3e3e2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.215);
}
.bot_order .danhsachdonhang .donhang .top_donhang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #3e3e3e1f;
    padding-bottom: 10px;
}
.bot_order .danhsachdonhang .donhang .bot_donhang{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    padding: 20px 30px 0 0;
}
.bot_order .danhsachdonhang .donhang .bot_donhang .thaotac{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.bot_order .donhang .bot_donhang .thaotac .xemchitiet, 
.bot_order .donhang .bot_donhang .thaotac .huydon{
    padding: 7px 40px;
    background: #ee4d2d;
    color: #fff;
    font-weight: 700;
    border: 1px solid #ee4d2d;
    cursor: pointer;
    transition: 0.2s;
}
.bot_order .donhang .bot_donhang .thaotac .xemchitiet:hover{
    background: #c13e23;
}
.bot_order .donhang .bot_donhang .thaotac .huydon{
    background: #fff;
    border: 1px solid #3e3e3e1f;
    color: #3e3e3e;
}
.bot_order .donhang .bot_donhang .thaotac .huydon:hover{
    background: #b9b9b9;
}
a{
    text-decoration: none;
}


