/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2024, 2:01:21 PM
    Author     : HP
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #3e3d3e;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#main{
    padding: 20px 40px;
}
.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.address a,
.address .from_to{
    opacity: 0.9;
}
.address .from_to{
    font-size: 12px;
    opacity: 0.5;
}
.address a:hover{
    color: #ff6123;
}
.address .name_product_add{
    color: #ff6123;
}

.content{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    flex-wrap: wrap;
}
.content .main_content{
    width: 65%;
    flex-shrink: 0;
    padding: 10px;
}
.main_content .title{
    font-size: 25px;
    color: #3e3d3e;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}
.main_content .infor_news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    color: #bbbdc9;
}
.main_content .infor_news div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.main_content .img_news{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main_content .img_news div{
    width: 80%;
    height: 100%;
}
.main_content .content_news{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 40px;
}
.main_content .content_news .paragraph{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paragraph .title_content{
    color: #e74c3c;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.paragraph div:last-child{
    padding: 5px;
    text-align: justify;
    line-height: 1.4;
    color: #3e3d3e;
    font-size: 14px;
    padding: 5px 30px;
}
.content .more_content{
    flex: 1;
}
.content .more_content .more_title{
    color: #f4bb14;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.more_content .other_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other_list .card_news{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other_list .card_news .other_img{
    width: 100%;
    height: 70%;
    flex-shrink: 0;
    margin-bottom: 10px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.256);
    padding: 15px;
}
.card_news .other_img:hover{
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.7);
}
.card_news .card_news_bot{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.card_news .card_news_bot a{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    transition: 0.2s;
}
.card_news .card_news_bot a:hover{
    color: #f4bb14;
}
.card_news .card_news_bot .other_infor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 10px;
    color: #3e3d3e;
    opacity: 0.5;
}

/* CARD PRODUCT */
.hot_product{
    margin-top: 60px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hot_product .hot_product_title{
    height: 15%;
    color: #3e3d3e;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
}
.hot_product .hot_product_title::after{
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    background-color: #ff6223;
    width: 20%;
    height: 2px;
    content: "";
    z-index: 1;
}
.hot_product .cards{
    width: 100%;
    height: calc(85% - 30px);
    display: flex;
    margin-left: -20px;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    border-radius: 7px;
    overflow: hidden;
    background: transparent;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    width: calc(25% - 20px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.card .card_img{
    padding: 15px 10px;
}
.card .card_img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: 0.25s;
}
.card .card_img:hover img{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.388);
}
.card_content{
    flex: 1;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card_title{
    font-weight: 600;
    font-size: 14px;
    color: #3e3d3e;
    transition: 0.2s; 
    flex: 1; 
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-work;
}
.card_title:hover{
    color: #f4bb14;
}
.card_infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: auto;
    flex-shrink: 0;
}
.card_price{
    color: #f01c1c;
    font-size: 17px;
    font-weight: bold;
}
.card_infor .card_buy{
    padding: 7px;
    background: #ff6223;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.card_buy:hover{
    background: #f4bb14;
}