/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 6, 2024, 8:41:19 AM
    Author     : Dell
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.categories {
    background-color: rgb(247, 187, 9);
    margin-top: 20px;
    font-weight: bolder;
}
.categories p {
    padding-top: 22.5px;
}
.slide-bar {
    backdrop-filter: blur(15px);
}
.slide-bar .menu {
    width: 100%;
    padding: 0;
    list-style: none;
}
.slide-bar .menu .item {
    position: relative;
    cursor: pointer;
}
.slide-bar .menu .item p {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.slide-bar .menu .item p:hover {
    transition: 0.3s ease;
}
/* .slide-bar .menu .item i{
  margin-right: 0px;
} */

.slide-bar .menu .item p .dropdown {
    position: absolute;
    right: 0;
    margin-top: 5px;
    transition: 0.3s ease;
    color: black;
}
.slide-bar .menu .item .sub-menu {
    display: none;
}
.slide-bar .menu .item .sub-menu p {
    padding-left: 10px;
}

/* hover danh muc san pham */

.slidebar {
    display: none;
}

.categories:hover .slidebar {
    display: block;
}
/*SEARCH GROUP*/
.search-box{
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 18px;
    border: 1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    box-shadow: 2px 3px 8px rgba(255, 255, 255, 0.25);
}
.search-box input{
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
}
.search-box button{
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15%;
}
.login-btn{
    padding: 8px 17px;
    font-weight: bold;
    background: #f8de22;
    color: #34495e;
    border-radius: 20px;
    transition: 0.15s ease;
    border: 2px solid #f8de22;
    box-shadow: 1px 1px 10px white;
}
.login-btn:hover{
    background: transparent;
    color: #f8de22;
}
/*HEADER OPTION*/

.header_option{
    display: flex;
    align-items: center;
    color: #3e3e3e;
    justify-content: space-between;
    font-weight: 600;
}
.header_option a{
    color: #3e3e3e;
    font-weight: 600;
}
/* USER option */
.user {
    position: relative;
}
.user div {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user_option {
  position: absolute;
  width: 400px;
  height: 360px;
  background: #B9C0C6;
  top: 15%;
  right: 2%;
  border-radius: 5px;
  padding: 20px 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.25s;
  display: none;
}
.user_option .top_user_option {
    height: 10%;
    color: black;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_option .top_user_option i {
    font-size: 30px;
    color: black;
    z-index: 2;
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.25s;
}
.user_option .top_user_option i:hover {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}
.user_option .mid_user_option {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #454445;
}
.user_option .mid_user_option .avatar_display {
    background: white;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
}
.user_option .bot_user_option {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 50px;
    flex-wrap: wrap;
}
.user_option .bot_user_option .signout_btn {
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: 0.25s;
}
.user_option .bot_user_option .signout_btn span,
.user_option .bot_user_option .view_profile span {
    margin-left: 10px;
}

.user_option .bot_user_option .view_profile {
    background: rgba(255, 255, 255, 0.8);
    flex: 1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: 0.25s;
}

.user_option .bot_user_option .signout_btn:hover,
.user_option .bot_user_option .view_profile:hover {
  background: rgba(0,0,0,0.3);
  color: white;
}

.user_option.show_user_option {
    display: flex;
}

/*LIST CARD*/

.list_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list_card a{
    text-decoration: none;
}
.list_card .title_list_card{
    height: 40px;
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 700;
    border-bottom: solid 2px #ff6223;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list_card .title_list_card .title_content{
    color: #fff;
    width: 27%;
    text-transform: uppercase;
    background-color: #ff6223;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.list_card .title_list_card .title_content::after{
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: -0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 39px 0 0 42px;
    border-color: transparent transparent transparent #ff6223;
}
.list_card .title_list_card .right_title{
    padding-right: 30px;
}
.list_card .title_list_card .right_title a{
    color: #ff6223;
    font-size: 15px;
    text-decoration: underline;
}
.list_card .title_list_card .right_title a:hover{
    color: #3e3d3e;
}

/*CARD*/
.list_card .list_card_item{
    --spacing: 20px;
    --columns: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}
.list_card .list_card_item .card_product{
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: var(--spacing);
    border-radius: 7px;
    overflow: hidden;
    background: transparent;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    margin-top: 20px;
}
.card_product .card_img{
    padding: 15px 10px;
}
.card_product .card_img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: 0.25s;
}
.card_product .card_img:hover img{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.388);
}
.card_content{
    flex: 1;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card_title{
    font-weight: 600;
    font-size: 14px;
    color: #3e3d3e;
    transition: 0.2s;
    flex: 1;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-work;
}
.card_title:hover{
    color: #f4bb14;
}
.card_infor{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: auto;
    flex-shrink: 0;
}
.card_price{
    color: #f01c1c;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_price .real_price{
    font-size: 13px;
    color: #3e3e3e;
    font-weight: 500;
}
.card_infor .card_buy{
    padding: 7px;
    background: #ff6223;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.card_buy:hover{
    background: #f4bb14;
}